{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Chai Aur Django</h1>
    <h3>Home page</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio excepturi quaerat quo quibusdam aliquid? Maiores perferendis vel excepturi, culpa obcaecati assumenda officia alias impedit modi delectus. Ex quaerat eligendi neque!</p>
</body>
</html>